.App {
  text-align: center;
}

#Header {
  /*position: absolute;
  top: 60px;
  left: 0;*/

  padding: 60px 0 0 0;
  height: 70vh;
  width: 100%;
  background-color: #D3DEDB;
  z-index: -10;

  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

#Header-picture {
  padding: 2em 0 0 0;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#Header-title {
  padding: 1em 0 0 0;
  z-index: 1;
  color: black;
  font-weight: 700;
  font-size: 24pt;
  font-family: "Montserrat";
}

#Header-text {
  margin: 0;
  padding: 0;
  color: #A8A5B0;
  font-weight: 700;
  font-size: 16pt;
  font-family: "Montserrat";
}

/** Introduction/About stylings **/
#Intro {
  height: auto;
  width: 100%;
  padding: 2.5% 0;
}

.Content-header {
  padding: 1em 0 0 0;
  color: black;
  font-weight: 700;
  font-size: 18pt;
  font-family: "Montserrat";
}

.Content-subheader {
  padding: 1em 0 0 0;
  color: black;
  font-weight: 700;
  font-size: 14pt;
  font-family: "Montserrat";
}

.Content-text {
  color: black;
  font-weight: 400;
  font-size: 14pt;
  font-family: "Raleway";
}

.Content-text p {
  text-align: left;
}

#Intro-text {
  margin: 0 27.5% 0 27.5%;
  width: 45%;
  padding: 0.5em 0 0 0;
  color: black;
  font-weight: 400;
  font-size: 14pt;
  font-family: "Raleway";
}


#School-container {
  width: 80%;
  height: 100vh;
  margin: 5em 10%;
  display: flex;
  justify-content: space-between;
}

/** Education styling **/
#Education {
  display: inline-block;
  /*padding: 0 0 0 10%;*/
  margin: 0 5%;
  width: 40%;
}

/** Courses styling **/
#Courses {
  display: inline-block;
  /*padding: 0 10% 0 0;*/
  margin: 0 5%;
  width: 40%;
}

.Circle-image {
  background-color: #D3DEDB;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

/** Contacts styling **/
#Contacts {
  
}