html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  padding: 0 0 5em 0;
}

.App {
  text-align: center;
}

#Header {
  /*position: absolute;
  top: 60px;
  left: 0;*/

  padding: 60px 0 5em 0;
  margin: 0;
  height: auto;
  background-color: #D3DEDB;
  z-index: -10;

  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

#Header-picture {
  padding: 2em 0 0 0;
  margin: 0 auto;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#Header-title {
  padding: 1em 0 0 0;
  z-index: 1;
  color: black;
  font-weight: 700;
  font-size: 28pt;
  font-family: "Montserrat";
}

#Header-text {
  margin: 0;
  padding: 0;
  color: #A8A5B0;
  font-weight: 700;
  font-size: 20pt;
  font-family: "Montserrat";
}

/** Introduction/About stylings **/
#Intro {
  height: auto;
  padding: 2.5% 0;
}

#Intro-text {
  margin: 0 auto;
  width: 60vw;
  padding: 0.5em 0 0 0;
  color: black;
  font-weight: 400;
  font-size: 16pt;
  font-family: "Raleway";
}


.Content-header {
  padding: 1em 0 0 0;
  color: black;
  font-weight: 700;
  font-size: 24pt;
  font-family: "Montserrat";
}

.Content-subheader {
  padding: 1em 0 0 0;
  color: black;
  font-weight: 700;
  font-size: 14pt;
  font-family: "Montserrat";
}

.Content-text {
  color: black;
  font-weight: 550;
  font-size: 14pt;
  font-family: "Raleway";
}

.Content-text p {
  text-align: left;
}

#School-container {
  width: 80%;
  height: auto;
  margin: 5em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/** Education styling **/
#Education {
  display: inline-block;
  padding: 0 0 3em 0;
  margin: 0 auto;
  width: 35%;
  min-width: 275px;
}

/** Courses styling **/
#Courses {
  display: inline-block;
  /*padding: 0 10% 0 0;*/
  margin: 0 auto;
  width: 35%;
  min-width: 275px;
}

#Uoft-icon {
  width: 13vw;
  height: 13vw;
  padding: 2.5vw;
}

#Courses-icon {
  width: 11vw;
  height: 11vw;
  padding: 3.5vw;
}

.Circle-image {
  margin: 0 auto;
  background-color: #D3DEDB;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/** Skills Styling **/
#Skills-container {
  width: 80%;
  height: auto;
  margin: 2em 10% 5em 10%;
}

#Skills-header {
  padding: 1em 0 0 0;
  margin-bottom: 0;
  color: black;
  font-weight: 700;
  font-size: 24pt;
  font-family: "Montserrat";
}

#Skills-subheader {
  margin-top: 0;
  color: black;
  font-weight: 700;
  font-size: 10pt;
  font-family: "Raleway";
}


/** Project Styling **/
#Projects-header {
  padding: 1em 0 0 0;
  margin-bottom: 0;
  color: black;
  font-weight: 700;
  font-size: 24pt;
  font-family: "Montserrat";
}

#Project-container {
  width: 80vw;
  height: auto;
  margin: 2em 10% 5em 10%;
}

/** Contacts styling **/
#Contacts {
  height: auto;
  padding: 2.5% 0;
}

#Contact-text {
  width: fit-content;
  margin: 0.5em auto;
  padding: 1em;
  color: black;
  border: 2px black solid;
  font-weight: 400;
  font-size: 16pt;
  font-family: "Raleway";
  justify-content: center;
}

#Contact-text tr {
  margin: 0 auto;
  text-align: center;
}

#Contact-text tr td {
  padding: 0 0.5em;
  text-align: left;
}

