#Navbar {
    position: fixed;
    top:0;
    left:0;
    height: 60px;
    width: 100vw;
    background-color: #21CBC1;
}

#Navbar-header {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 2%;
    font-size: 24pt;
    font-family: "Montserrat";
    color: white;
}

#Navbar-fields {
    position: absolute;
    right: 0;
    display: inline-block;
    padding: 0 2em 0 0;

    height: 60px;
    line-height: 60px;
    vertical-align: center;
    overflow: hidden;
}

.Navbar-fields-text {
    display:inline-block;
    /*word-wrap: break-word;*/
    padding: 0 0.5em;
    margin: 0em;
    text-decoration: none;
    
    font-size: 18pt;
    font-family: "raleway";
    color: white;
}

.Navbar-fields-text:hover {
    color: blue;
}