.Projects {
    display: inline-block;
    width: 100%;
    min-height: 10vw;
    height: auto;
    /*border: 2px black solid;*/

    margin: 3em auto;
}

.Projects tr{
    width: 100%;
}

.project-title {
    padding: 0.5em 1em 0 1em;

    color: black;
    font-weight: 700;
    font-size: 22pt;
    font-family: "Montserrat";
    text-decoration: underline;
}

.project-image {
    width: 50%;
    height: auto;
}

.project-content {
    padding: 0.5em 8em;
    text-align: center;
    font-size: 16pt;
    font-family: "Raleway";
}