.Skills {
    display: inline-block;
    width: 45%;
    margin: 2.5%;
}

.Skills-image {
    display: inline-block;
    background-color: #D3DEDB;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.Skills-image img {
    height: 70%;
    width: 70%;
    margin: 15%;
}

.Skills-content {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

.Skills-content h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Montserrat";
}

.Skills-content p {
    padding: 0 5%;
    margin: 0;
    text-align: left;
    font-size: 14pt;
    font-family: "Raleway";
}
